#mast {
  position:fixed;
  height: 50px;
  color: #fff;
  background-color: #05A4F7;
  width: 95%;
}

.nav-container {
  
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

#mast p {

  font-size: 14px;
  flex-grow: 1;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px;
}

#links {
  color: #5E5E5E;
}

#links ul{
  padding-top: 75px;
  padding-bottom: 30px;
  display: flex;
}

#links li {
  padding-right:20px;
  font-size: 16px;
  cursor: pointer;
}