
.modalContent {
  background-color: #fefefe;
  display: flex;
  flex-direction:column;
  margin: 0 auto;
  font-size: 14px;
}

.modalContent::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
}
.modalContent::-webkit-scrollbar-thumb {
  background: #E5E5E5;
}

.modalHead {
  position: relative;
  z-index: 15;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  background-color: #E56B65;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.modalHead i {
  font-size:60px;
  color: #A6514D;
  margin-left: auto;
}

.modalHead h1 {
  font-weight:bold;
  font-size:24px;
}

.modalBody p{
  padding-bottom: 30px;
}